<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/edit}" method="post" th:object="${blog}">
    <table>
        <tr>
            <th>ID</th>
            <td><input type="text" name="id" th:field="*{id}" th:text="*{id}"></td>
        </tr>
        <tr>
            <th>Title</th>
            <td><input type="text" name="title" th:field="*{title}" th:value="*{title}"></td>

        </tr>
        <tr>
            <th>Content</th>
            <td><textarea name="content" cols="50" rows="10" th:field="*{content}" th:text="*{content}"></textarea></td>
        </tr>
        <tr>
            <th>Like Number</th>
            <td><input type="text" name="likeNumber" th:field="*{likeNumber}" th:value="*{likeNumber}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>